﻿.logo-wrapper {
    position: relative;
}

.logo-wrapper .logo {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -2px;
    margin-left: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #333333;
}

footer .text-muted {
    margin: 8px 0;
    text-align: center;
    color: white;
}

.percent {
    text-align: center;
    margin: 0 10px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
}