﻿@section title {
    <h2>Home</h2>
    <div class="radius progress success">
        <span class="meter" style="width: 0%">
        </span>
    </div>
    <div class="panel">
        <a href="javascript:void(0)" class="button secondary disabled round prev-tab left">Previous</a>
        <a href="@Url.Action("Step1", "Home")" class="button round next-tab right">Next</a>
        <div class="clearfix"></div>
    </div>
}