﻿@section title {
    <h2>Step 1</h2>
    <div class="radius progress success">
        <span class="meter" style="width: 20%">
            <p class="percent">20% READY</p>
        </span>
    </div>
    <div class="panel">
        <a href="@Url.Action("Index", "Home")" class="button round prev-tab left">Previous</a>
        <a href="@Url.Action("Step2", "Home")" class="button round next-tab right">Next</a>
        <div class="clearfix"></div>
    </div>
}
