﻿@section title {
    <h2>Step 3</h2>
    <div class="radius progress success">
        <span class="meter" style="width: 100%">
            <p class="percent">100% READY</p>
        </span>
    </div>
    <div class="panel">
        <a href="@Url.Action("Step2", "Home")" class="button round prev-tab left">Previous</a>
        <a href="javascript:void(0)" class="button disabled secondary round next-tab right">Next</a>
        <div class="clearfix"></div>
    </div>
}