﻿@section title {
    <h2>Step 2</h2>
    <div class="radius progress success">
        <span class="meter" style="width: 60%">
            <p class="percent">60% READY</p>
        </span>
    </div>
    <div class="panel">
        <a href="@Url.Action("Step1", "Home")" class="button round prev-tab left">Previous</a>
        <a href="@Url.Action("Step3", "Home")" class="button round next-tab right">Next</a>
        <div class="clearfix"></div>
    </div>
}