﻿@using BreadCrumbHelper.Core.Extensions
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - BreadCrumb Helper</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/foundation/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="top-bar" data-topbar role="navigation">
        <div class="logo-wrapper hide-for-small-only">
            <div class="logo">
                <a href="/">
                    <img src="~/Content/images/breadcrumbs.jpg">
                </a>
            </div>
        </div>
    </nav>
    <br />
    <div class="row">
        @Html.BreadCrumbs("current")
    </div>
    <div class="row">
        @RenderSection("title", required: false)
    </div>
    <footer>
        <div class="container">
            <p class="text-muted">@DateTime.Now.Year &copy; Alexander Kopylov</p>
        </div>
    </footer>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>